.grid {
    display: grid;
    gap: 7px;
}

.grid__item {
    position: relative;
    background: var(--light);
    padding: 40px 28px 28px 36px;
    overflow: hidden;
    border-radius: 37px;
    transition: transform .3s linear;
}
.grid__item:hover {
    transform: scale(1.03);
}


.grid__item_dark {
    background: var(--dark);
}

.grid__item_pink {
    background: var(--pink_light);
}

.grid__item_dark * {
    color: var(--white);
}

.grid__text {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.08;
    z-index: 2;
    position: relative;
}

.grid__text-big {
    font-size: 2.5rem;
    display: block;
}

.gallery {

}

.gallery__item {
    max-width: 1364px;
}

.gallery__img {
    max-width: 99%;
    margin: 0 auto;
}

.gallery__footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 24px;
    margin-top: 25px;
}

.gallery__arrow {
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--dark);
    width: 40px;
    aspect-ratio: 1 / 1;
    cursor: pointer;
    transition: background .3s linear;
    border-radius: 50%;
}

.gallery__arrow:hover {
    background: var(--dark_hover);
}

.gallery__arrow-img {
    max-width: 11px;
}

.gallery__count {
    width: auto;
}

.about {

}

.about__container {
    grid-template: repeat(2, 330px) / repeat(4, 1fr);
}

.about__item {
    min-height: 330px;
}

.about__item-1 {
    display: flex;
    flex-direction: column;
    grid-area: 1 / 1 / 3 / 2;

}

.about__text-1 {

}

.about__item-2 {
    grid-area: 1 / 2 / 1 / 3;
}

.about__item-3 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 15px;
    grid-area: 1 / 3 / 1 / 5;
}

.about__item-4 {
    grid-area: 2 / 2 / 2 / 4;
}

.about__item-5 {
    grid-area: 3 / 4 / 2 / 5;
}

.about__text {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.08;
}

.about__text_color {
    color: var(--main);
    font-size: 7.5rem;
    font-weight: 400;
    line-height: 1;
}

.about__text-4_big {
    font-size: 2.5rem;
    line-height: 1;
    display: block;
}

.about__text-5_big {
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: -0.03em;
    margin-top: 12px;
}

.about__img-wrap {
    position: relative;
    left: 50%;
    width: calc(100% + 72px);
    aspect-ratio: 331 / 291;
    margin-top: 48px;
    overflow: hidden;
    transform: translateX(-50%);
}

.about__img_2 {
    max-width: 253px;
    transform: translate(-11px, -13px);
}

.about__img_3 {
    position: absolute;
    right: 0;
    bottom: 0;
    max-width: 668px;
}

.send {
    padding: 195px 0 190px;
}

.send__link {
    margin-top: 56px;
}

.send__text {
    font-size: 3.375rem;
    font-weight: 700;
    line-height: 1.1;
    max-width: 1140px;
}

.send__text_color {
    color: var(--main);
}

.send__logo {
    z-index: -1;
    position: absolute;
    top: 50%;
    right: -75px;
    max-width: 925px;
    transform: translateY(-50%);
}

.bonus {
    padding: 132px 0 127px;
}

.bonus__title {
    margin-bottom: 63px;
}

.bonus__grid {
    grid-template: 331px 198px 126px / repeat(4, 1fr);
}

.bonus__item_1 {
    grid-area: 1 / 1 / 2 / 2;
}

.bonus__item_2 {
    grid-area: 1 / 2 / 4 / 3;
}

.bonus__item_3 {
    grid-area: 1 / 3 / 1 / 4;
}

.bonus__item_4 {
    grid-area: 1 / 4 / 1 / 5;
}

.bonus__item_5 {
    grid-area: 2 / 1 / 4 / 2;
}

.bonus__item_6 {
    padding-top: 50px;
    grid-area: 2 / 3 / 3 / 4;
}

.bonus__item_7 {
    padding-bottom: 20px;
    grid-area: 3 / 3 / 4 / 4;
}

.bonus__item_8 {
    grid-area: 2 / 4 / 4 / 5;
}

.bonus__flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bonus__flex img {
    align-self: flex-end;
}

.bonus__img_1 {
    max-width: 127px;
}

.bonus__img_2 {
    position: absolute;
    right: -10px;
    bottom: 0;
    max-width: 314px;
}

.bonus__img_3 {
    max-width: 153px;
    transform: translateY(20px);
}

.bonus__img_4 {
    max-width: 127px;
}

.bonus__img_5 {
    position: absolute;
    right: 0;
    bottom: 0;
    max-width: 276px;
}

.bonus__img_8 {
    top: auto;
    bottom: -40px;
    max-width: 331px;
    object-fit: contain;
}

.bonus__text {
    line-height: 114%;
}

.bonus__text_big {
    font-size: 4.8125rem;
    font-weight: 700;
    line-height: 1;
}

.bonus__text_short {
    max-width: 195px;
}

.party {
    padding: 50px 0;
}

.party__title {
    text-align: center;
    margin-bottom: 60px;
}

.product {
    padding: 60px 0;
}

.product__item {
    max-width: 682px;
}

.product__img {
    max-width: 98%;
    margin: 0 auto;
}

.faq {
    padding: 45px 0 138px;
}

.faq__container {
    max-width: 934px;
}

.tab {
    padding-top: 30px;
}

.tab__item {
    padding-top: 22px;
    cursor: pointer;
    border-bottom: 1px solid var(--light);
}

.tab__item:first-child {
    padding-top: 0;
}

.tab__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 18px;
}

.tab__item-title {
    font-size: 1.875rem;
    font-weight: 700;
    line-height: .95;
}

.tab__arrow {
    position: relative;
    width: 56px;
    aspect-ratio: 1 / 1;
    transition: all .3s linear;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tab__arrow-svg {
    width: 19px;
}

.tab__arrow-svg path {
    stroke: var(--dark2);
}

.tab__item.active .tab__arrow {
    background: var(--main);
}

.tab__item.active .tab__arrow:hover {
    background: var(--main_hover);
}

.tab__item.active .tab__arrow {
    transform: rotate(180deg);
}

.tab__item.active path {
    stroke: var(--white);
}

.tab__item-text {
    color: var(--grey);
    font-size: 1.4375rem;
    line-height: 1.29;
    max-width: 750px;
    padding-bottom: 30px;
}

.tab__item-text a {
    text-decoration: underline;
    display: inline;
}

.contacts {
    background: var(--dark2);
    padding: 90px 0;
}

.contacts * {
    color: var(--white);
}

.contacts__container {
    max-width: 932px;
}

.contacts__title {
    margin-bottom: 36px;
}

.contacts__row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    margin-bottom: 115px;
}

.contacts__link {
    background: var(--dark2);
    max-width: 435px;
    transition: all .3s linear;
    border: 1px solid var(--white);
}

.main__arrow path {
    stroke: var(--white);
}

.contacts__link:hover {
    color: var(--dark2);
    background: var(--white);
}

.contacts__link:hover .main__arrow path {
    stroke: var(--dark2);
}

.form {
    width: 100%;
}

.form__title {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.36;
    text-align: center;
    /*noinspection CssInvalidPropertyValue*/
    text-wrap: balance;
    text-wrap-style: balance;
    margin-bottom: 32px;
}

.form__input {
    color: var(--dark);
    font-size: 1.25rem;
    background: var(--white);
    width: 100%;
    margin-bottom: 11px;
    padding: 20px 40px;
    border: none;
    border-radius: 50px;
}

.form__input:user-invalid {
    border: 1px solid red;
}

.form__input::placeholder {
    color: var(--placeholder);
    font-size: 1.25rem;
    line-height: 129%;
}

.form__textarea {
    resize: none;
    border-radius: 31px;
}

.form__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.form__row-left {
    max-width: 548px;
}

.form__row-right {
    max-width: 320px;
}

.form__file {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
    margin-bottom: 12px;
    padding: 20px;
    border: 2px solid var(--white);
    border-radius: 50px;
}

.form__file-label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.form__file-img {
    max-width: 38px;
}

.form__file-text {
    font-size: 1.25rem;
    line-height: 1.29;
    text-align: center;
    max-width: 568px;
}

.form__file-input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
}

.form__check {
    display: flex;
    align-items: center;
    gap: 15px;
    max-width: 300px;
    position: relative;
    transition: all .3s linear;
}

input[type="checkbox"] {
    width: 16px;
    height: 16px;
    flex-shrink: 0;
    flex-grow: 0;
    /*noinspection CssInvalidPropertyValue*/
    appearance: checkbox;
}

.form__checkbox {
    display: block;
    max-width: 19px;
}

.form__label {
    font-size: 1.0625rem;
    line-height: 1;
    text-decoration: underline;
    cursor: pointer;
    text-decoration-skip-ink: none;
}

.form__button {
    font-size: 1.5625rem;
    line-height: 1.29;
    text-align: center;
    background: var(--main);
    max-width: 435px;
    padding: 17px 15px;
    cursor: pointer;
    transition: background .3s linear;
    border: none;
    border-radius: 50px;
}

.form__button:hover {
    background: var(--main_hover);
}

.footer {
    position: relative;
    background: var(--dark2);
    margin-top: -1px;
}

.footer * {
    color: var(--white);
}

.footer__row {
    z-index: 2;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    padding: 200px 0 60px;
}

.footer__text {
    width: auto;
}

.footer__policy {
    font-size: 1.125rem;
    line-height: 1;
    max-width: 370px;
}

.footer__bye {
    z-index: 0;
    position: absolute;
    bottom: -35px;
    left: 20px;
}

.footer__bye-text {
    font-size: 5.65vw;
    font-weight: 300;
    line-height: 1;
    display: block;
    margin-bottom: -21px;
    opacity: .3;
}

.footer__bye-text_big {
    font-size: 11.3vw;
    font-weight: 700;
    display: block;
    margin: 0;
}

@media screen and (min-width: 1920px) {
    .footer__bye-text {
        font-size: 6.875rem;
    }

    .footer__bye-text_big {
        font-size: 13.75rem;

    }
}

@media screen and (max-width: 1440px) {
    .gallery__item {
        max-width: 994px;
    }

    .product__item {
        max-width: 485px;
    }

    .footer__bye {
        bottom: -25px;
    }
}

@media screen and (max-width: 1280px) {

    .grid__item {
        padding: 27px 28px 28px 36px;
    }

    .about__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .about__item-1 {
        padding-bottom: 0;
    }

    .about__img-wrap {
        left: 0;
        width: 100%;
        max-width: 400px;
        margin: 20px auto -35px;
        transform: none;
    }

    .about__item-2 * {
        text-align: center;
    }

    .about__item-3 {
        align-items: center;
    }

    .about__item-4 {
        padding-bottom: 0;
    }

    .about__img_3 {
        position: relative;
        margin-left: auto;
    }

    .gallery__item {
        max-width: 1024px;
    }

    .product__item {
        max-width: 485px;
    }

    .bonus__grid {
        grid-template: repeat(3, 331px) repeat(2, 175px) / repeat(2, 1fr);
    }

    .bonus__grid * {
        grid-area: auto;
    }

    .bonus__item_2 {
        grid-area: 1 / 2 / 3 / 2;
    }


    .bonus__item_8 {
        grid-area: 4 / 2 / 6 / 2;
    }

    .bonus__img_8 {
        width: 100%;
        max-width: 100%;
        object-fit: cover;
    }

}

@media screen and (max-width: 1024px) {

    .about__img_2 {
        max-width: 127px;
        transform: none;
    }

    .send__text {
        font-size: 3rem;
    }

    .gallery__item {
        max-width: 576px;
    }

    .gallery__img {
        max-width: 566px;
    }

    .contacts__row {
        flex-direction: column;
        margin-bottom: 85px;
    }

    .form__row {
        flex-direction: column;
        gap: 0;
    }

    .form__row_bottom {
        gap: 15px;
    }

    .form__row-left,
    .form__row-right {
        max-width: 100%;
    }

    .footer__bye {
        bottom: 65px;
    }

    .footer__bye-text {
        line-height: 1.3;
    }

    .footer__row {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 129px 0 40px;
    }

    .footer__policy {
        text-align: center;
    }
}

@media screen and (max-width: 576px) {

    .grid__text {
        font-size: 1.125rem;
    }

    .about__text-1 {
        font-size: 1.125rem;
    }

    .about__img-wrap {
        margin-bottom: -87px;
    }

    .about__item-2 {
        padding: 36px 28px 106px 38px;
    }

    .about__item-2 * {
        text-align: left;
    }

    .about__text-2 {
        font-size: 1.5rem;
    }

    .about__text_color {
        font-size: 7.5rem;
    }

    .about__item-3 {
        flex-direction: column;
        align-items: flex-end;
        gap: 0;
        padding: 27px 22px 12px 36px;
    }

    .about__text-3 {
        font-size: 1.125rem;
        align-self: flex-start;
        max-width: 221px;
    }

    .about__text-4 {
        font-size: 1.5rem;
    }

    .about__text-4_big {
        font-size: 2.1875rem;
    }

    .about__item-4 {
        min-height: 327px;
    }

    .about__img_3 {
        position: absolute;
        bottom: 0;
        left: -155px;
        width: 500px;
        margin: 0;
    }

    .about__text-5_big {
        font-size: 2.5rem;
        margin-top: 6px;
    }

    .about__item-5 {
        min-height: 327px;
        margin-top: 9px;
    }

    .send {
        padding: 88px 0 122px;
    }

    .send__text {
        font-size: 2rem;
    }

    .send__link {
        margin-top: 53px;
    }

    .send__logo {
        transform: none;
        top: auto;
        bottom: 0;
        right: -100px;
        max-width: 392px;
    }

    .gallery__item {
        width: 100%;
    }

    .gallery__footer {
        gap: 13px;
        margin-top: 15px;
    }

    .gallery__arrow {
        max-width: 30px;
    }

    .bonus {
        padding: 89px 0 33px;
    }

    .bonus__title {
        font-size: 2.1875rem;
        margin-bottom: 49px;
    }

    .bonus__grid {
        display: flex;
        flex-direction: column;
        gap: 17px;
    }

    .bonus__item {
        min-height: 327px;
        padding: 40px 30px 30px 38px;
    }

    .bonus__text {
        font-size: 1.5rem;
    }

    .bonus__img_1 {
        max-width: 125px;
    }

    .bonus__item_2 {
        display: block;
        padding-bottom: 0;
    }

    .bonus__img_2 {
        position: relative;
        left: 50%;
        width: 311px;
        margin-top: 12px;
        transform: translateX(-46%);
    }

    .bonus__item_3 {
        padding: 30px 30px 30px 38px;
    }

    .bonus__item_6 {
        min-height: 197px;
        padding: 47px 30px 30px 38px;
    }

    .bonus__text_big {
        font-size: 4.8125rem;
    }

    .bonus__item_7 {
        min-height: 121px;
        padding: 29px 30px 30px 38px;
    }

    .party {
        padding-bottom: 25px;
    }

    .party__title {
        font-size: 2.1875rem;
        margin-bottom: 43px;
    }

    .product {
        padding-bottom: 15px;
    }

    .product__title {
        font-size: 2.1875rem;
        margin-bottom: 43px;
    }

    .faq {
        padding: 25px 0 98px;
    }

    .faq__title {
        font-size: 2.1875rem;
        line-height: 1.17;
        margin-bottom: 68px;
    }

    .tab__item {
        padding-top: 35px;
    }

    .tab__item-title {
        font-size: 1.375rem;
        line-height: 1.14;
    }

    .tab__header {
        padding-bottom: 9px;
    }

    .tab__arrow {
        width: 100%;
        max-width: 40px;
    }

    .tab__arrow:before {
        width: 7px;
    }

    .tab__item-text {
        font-size: 1.0625rem;
    }

    .contacts {
        padding: 58px 0;
    }

    .contacts__title {
        font-size: 2.1875rem;
        line-height: 117%;
        /*noinspection CssInvalidPropertyValue*/
        text-wrap: balance;
        text-wrap-style: balance;
        margin-bottom: 48px;
    }

    .contacts__link {
        padding: 16px;
    }

    .form__title {
        font-size: 1.25rem;
        line-height: 1.21;
        margin-bottom: 24px;
    }

    .form__input {
        padding: 13px 24px;
    }

    .form__textarea {
        min-height: 279px;
        border-radius: 22px;
    }

    .form__check {
        margin-bottom: 17px;
    }

    .form__label {
        font-size: 0.9375rem;
    }

    .form__button {
        font-size: 1.25rem;
        padding: 11px;
    }

    .footer__bye {
        top: auto;
        bottom: 65px;
        left: 0;
    }

    .footer__bye-text {
        font-size: 2.1875rem;
    }

    .footer__bye-text_big {
        font-size: 3.75rem;
    }

    .footer__policy {
        font-size: .9375rem;
    }

}

@media screen and (max-width: 374px) {
    .grid__item {
        padding: 21px 28px 28px 25px;
        border-radius: 30px;
    }

    .about__img-wrap {
        max-width: 204px;
        margin-bottom: -105px;
    }

    .about__item-2 {
        padding: 19px 28px 61px 25px;
    }

    .about__item-3 {
        padding: 21px 24px 10px 25px;
    }

    .about__img_2 {
        max-width: 101px;
        margin-top: -14px;
    }

    .about__text-4 {
        font-size: 1.125rem;
    }

    .about__text-4_big {
        font-size: 1.6875rem;
    }

    .about__item-4 {
        min-height: 280px;
    }

    .about__img_3 {
        left: -137px;
        width: 434px;
    }

    .about__text-5_big {
        font-size: 1.875rem;
    }

    .about__item-5 {
        min-height: 280px;
        margin: 0;
    }

    .send {
        padding: 75px 0 114px;
    }

    .send__text {
        font-size: 1.6875rem;
    }

    .send__link {
        margin-top: 59px;
    }

    .gallery__footer {
        margin-top: 18px;
    }

    .bonus {
        padding: 53px 0 33px;
    }

    .bonus__title {
        font-size: 1.875rem;
        margin-bottom: 62px;
    }

    .bonus__grid {
        gap: 14px;
    }

    .bonus__item {
        min-height: 280px;
        padding: 24px 16px 18px 25px;
    }

    .bonus__img_1 {
        max-width: 110px;
    }

    .bonus__text {
        font-size: 1.25rem;
    }

    .bonus__item_2 {
        padding-bottom: 0;
    }

    .bonus__img_2 {
        width: 274px;
        margin-top: 26px;
    }

    .bonus__item_3 {
        padding: 14px 13px 22px 25px;
    }

    .bonus__img_3 {
        max-width: 132px;
    }

    .bonus__item_4 {
        padding: 25px 18px 19px 25px;
    }

    .bonus__img_4 {
        max-width: 110px;
    }

    .bonus__item_5 {
        padding: 26px 15px 24px 25px;
    }

    .bonus__img_5 {
        max-width: 231px;
    }

    .bonus__item_6 {
        min-height: 173px;
        padding: 37px 16px 18px 25px;
    }

    .bonus__text-6 {
        font-size: 1.4375rem;
        font-weight: 400;
    }

    .bonus__text_big {
        font-size: 4.8125rem;
    }

    .bonus__item_7 {
        min-height: 107px;
        padding: 30px 16px 18px 25px;
    }

    .bonus__text-7 {
        max-width: 205px;
    }

    .bonus__item_8 {
        padding: 20px 16px 18px 25px;
    }

    .bonus__text_short {
        max-width: 100%;
    }

    .party {
        padding-top: 46px;
    }

    .party__title {
        font-size: 1.875rem;
        margin-bottom: 43px;
    }

    .product {
        padding: 47px 0 15px;
    }

    .product__title {
        font-size: 1.875rem;
        margin-bottom: 48px;
    }

    .faq {
        padding: 42px 0 142px;
    }

    .faq__title {
        font-size: 1.875rem;
        line-height: 1.1;
        margin-bottom: 38px;
    }

    .tab__item-title {
        font-size: 1.15rem;
        line-height: 1.25;
    }

    .tab__header {
        padding-bottom: 13px;
    }

    .tab__item-text {
        padding-bottom: 17px;
    }

    .tab__item {
        padding-top: 33px;
    }

    .contacts {
        padding: 42px 0;
    }

    .contacts__title {
        font-size: 1.875rem;
        margin-bottom: 37px;
    }

    .contacts__link {
        padding: 14px;
    }

    .main__arrow {
        max-width: 30px;
    }

    .contacts__row {
        margin-bottom: 65px;
    }

    .form__title {
        font-size: 1.125rem;
        margin-bottom: 43px;
    }

    .form__input {
        padding: 12px 24px;
        font-size: 1rem;
    }

    .form__input::placeholder {
        font-size: 1rem;
    }

    .form__textarea {
        min-height: 246px;
    }

    .footer__bye {
        bottom: 70px;
    }

    .footer__row {
        padding: 80px 0 40px;
    }

    .footer__bye-text_big {
        font-size: 3.3rem;
    }

}